---
import Link from "@components/ui/link.astro";

const { plan } = Astro.props;
---

<div>
  <div
    class="flex flex-col w-full order-first lg:order-none border-2 border-[#D8DEE9] border-opacity-50 py-5 px-6 rounded-md">
    <h3 class="text-lg font-bold text-gray-700 dark:text-gray-800">{plan.name}</h3>
    <p class="mt-2 text-gray-600 dark:text-gray-600">
      Ideal for {plan.description}
    </p>
    <div class="mt-8 grid gap-y-4">
      <div>
        <p class="text-gray-800"><b>Initial Setup:</b> {plan.cost.initial}</p>
        <p class="mt-1 text-gray-800"><b>Monthly:</b> {plan.cost.monthly}</p>
      </div>
      <ul class="list-inside list-disc text-left gap-y-4">
        {
          plan.features.map((item) => (
            <li class="flex items-start gap-3 text-gray-800">
              <span class="text-indigo-600">•</span>
              <span>{item}</span>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="flex mt-8">
      <Link
        href={plan.button.link || "#"}
        block
        style={plan.popular ? "primary" : "outline"}>
        {plan.button.text || "Get Started"}
      </Link>
    </div>
  </div>
</div>


