---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site
).toString();

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "WebFairer"
  : "WebFairer - Modern web toolkit abd website builder agencyfor small businesses and freelancers in southeast UK";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="WebFairer provides affordable web design and development services tailored for small businesses, freelancers, and sole traders in southeast England and the south of the Midlands. Start building your online presence and grow your business with our professional web tools." />
    <title>WebFairer - Your Partner in Web Design and Digital Tools for Small Businesses in Southeast England</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="canonical" href="{canonicalURL}" />
    
    <!-- Social Media Meta Tags -->
    <meta property="og:title" content="WebFairer - Build Your Online Presence with Our Web Design Services" />
    <meta property="og:description" content="Expert web design and development services for small businesses, freelancers, and solo entrepreneurs in southeast England and the Midlands. Get discovered online with WebFairer." />
    <meta property="og:image" content="{resolvedImageWithDomain}" />
    <meta property="og:url" content="{canonicalURL}" />
    <meta property="og:type" content="website" />
    <meta property="og:image:alt" content="WebFairer Homepage Screenshot" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@iqm0" />
    <meta name="twitter:site" content="@webfairer" />
    
    <!-- Structured Data -->
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "ProfessionalService",
      "@id": "{canonicalURL}",
      "name": "WebFairer",
      "description": "Specialized web agency offering web design and development services for small businesses, freelancers, and individual professionals. Our tools and services are designed to help you establish a strong online presence and succeed in today's digital market.",
      "url": "{canonicalURL}",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "Nevill Street",
        "addressLocality": "Tunbridge Wells",
        "postalCode": "TN2 1HB",
        "addressRegion": "Kent",
        "addressCountry": "GB"
      },
      "geo": {
        "@type": "GeoCoordinates",
        "latitude": "51.141448",
        "longitude": "0.261593"
      },
      "openingHoursSpecification": [
        {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday"
          ],
          "opens": "09:00",
          "closes": "17:30"
        }
      ],
      "sameAs": [
        "https://www.facebook.com/webfairer",
        "https://twitter.com/webfairer",
        "https://www.linkedin.com/company/webfairer",
        "https://github.com/webfairer",
        "https://webfairer.uk",
        "https://webfairer.uk/blog",
        "https://webfairer.uk/pricing",
        "https://webfairer.uk/contact",
      ],
    }}
    </script>
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
